= form_tag :id => 'form', :action => 'update_password', :controller => 'users' do
  .field
    = label_tag :password, I18n.t('admin.preferences.password')
    %br
    = password_field_tag :password

  .field
    = label_tag :password_confirmation, I18n.t('admin.preferences.password_confirmation')
    %br
    = password_field_tag :password_confirmation

    = submit_tag I18n.t('preferences.submit'), :class => 'button'

