%table#database-view
  %tr
    %th
      %b Name
    %th
      %b Username
    %th
      %b Access Level
    %th

  - @users.each do |user|
    %tr
      %td.data-1= user.name
      %td.data-2= user.username
      %td.data-1= User::ACCESS_LEVELS.map{|disp,val| disp if val == user.access_level}.uniq.select{|a| a}.first
      %td.data-2
        = link_to "Delete", user, :method => :delete, :class => 'button confirmation_needed', :remote => true
        = link_to "Log in as", "/users/log_in_as/#{user.id}", :method => :post, :class => 'button'

  %tr
    %td
    %td
    %td
    %td.data-2= link_to "New User", new_user_path, :class => 'button', :remote => true

= form_tag '', :method => :delete, :style => 'display: none', :id => 'confirm_form' do
  %br


.confirm{ :title => 'Confirm' }
  %p Are you sure?

