#results
  %table#timetable
    %tr
      %th{:colspan => 6}
        = @room
        = I18n.t 'timetable.timetable.week', :week => @week
    %tr
      %td.data-1= I18n.t('timetable.timetable.lesson')
      %td.data-2= I18n.t('date.day_names')[1]
      %td.data-1= I18n.t('date.day_names')[2]
      %td.data-2= I18n.t('date.day_names')[3]
      %td.data-1= I18n.t('date.day_names')[4]
      %td.data-2= I18n.t('date.day_names')[5]
    - (1..6).each do |i|
      %tr
        %td.data-1= i
        %td.data-2
          != format_bookings @bookings_for_table[0].where(:lesson_number => i)
        %td.data-1
          != format_bookings @bookings_for_table[1].where(:lesson_number => i)
        %td.data-2
          != format_bookings @bookings_for_table[2].where(:lesson_number => i)
        %td.data-1
          != format_bookings @bookings_for_table[3].where(:lesson_number => i)
        %td.data-2
          != format_bookings @bookings_for_table[4].where(:lesson_number => i)

    - unless @printer_friendly
      %td{:colspan => 6}
        = link_to I18n.t('timetable.form.printer_friendly'), params.merge({:controller => 'timetable', :action => 'show', :printer_friendly => true}), :class => 'button'

